* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    user-select: none;


}

.container {
    width: 100%;
    padding-top: 100px;
    /* padding-bottom: 100px; */
    background: linear-gradient(135deg, rgb(212, 212, 212), orange);
}



.todo_app {
    width: 700px;
    max-width: 90%;
    background: #fff;
    padding: 40px 30px 70px;
    border-radius: 10px;
    margin: 0 auto 20px;
    position: relative;
    background: linear-gradient(white);
    margin-bottom: 100px;
}


.todo_app h1 {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    /* margin-left: auto; */
}


.todo_app h1 img {
    width: 30px;


}




/*        dark mode ==================================== */



.project_name_and_toggle_image {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 30px;
}


.project_name_and_toggle_image img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}



.project_name_and_toggle_image .dark_mode_image {
    border: none;
    /* outline: 0; */
    background: transparent;
    cursor: pointer;
    /* margin-left: auto; */
    right: 0px;
    position: absolute;
}


body.dark .todo_app {
    background: black;
    color: white;
}


body.dark .delete_all {
    background-color: orange;
    color: white;
}



body.dark .delete_all:hover {
    background-color: rgb(207, 141, 17);
}



body.dark .row .list_container li.checked::after {
    background-color: white;
}


.text_and_progresss_line {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.text_and_progresss_line h2 {
    margin-bottom: 20px;
}




/*

===========================   progree bar section ========================

*/

.progress_section {
    border: 1px solid orange;
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
    gap: 30px;
    MARGIN-BOTTOM: 30PX;
    BORDER-RADIUS: 5PX;
}


.progress {
    /* width: 100px; */
    /* height: 10px; */
    /* color: red; */
    background: #9E9E9E;
    /* flex: 1; */
    height: 6px;
    border-radius: 10px;
}

.progress_line {
    background-color: orange;
    width: 0%;
    height: 100%;
    border-radius: 10px;
}

.pregress_count_and_circle {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 1px solid orange;
    display: flex;
    align-items: cne;
    align-items: center;
    justify-content: center;
    background: orange;
    font-size: 25px;
}


/*
==================    input section   ================================
*/



.input_section {
    display: flex;
    gap: 10px;

    margin-bottom: 20PX;

}

.input_section .user_task_input {
    flex: 1;
    padding: 5px 12px;
    font-size: 18px;
    border-radius: 4px;
    outline: 0;
    border: 1px solid #cdc6c6;
}


.input_section .user_date_input {
    width: 120px;
    font-size: small;
    padding: 5px 12px;
    /*  font-size: 20px;*/
    border-radius: 4px;
    outline: 0;
    border: 1px solid #cdc6c6;
    cursor: pointer;
}



.input_section .user_priority_option {
    width: 108px;
    padding: 5px 12px;
    font-size: 18px;
    border-radius: 4px;
    outline: 0;
    border: 1px solid #cdc6c6;
    cursor: pointer;
}



.input_section .add_button {
    width: 40px;
    padding: px;
    font-size: 20px;
    border-radius: 6px;
    outline: 0;
    border: 1px solid #a9a6a6;
    font-size: 30px;
    border-radius: 50%;
    cursor: pointer;
}


.input_section .add_button:hover {
    background-color: rgb(228, 223, 223);
}






/*

========================================   Sort Section ===================================

*/


/* ===============================
sorting section 
================================
*/

.sort_section {
    margin-bottom: 50px;
    display: flex;
    gap: 10px;
}

/* ==============================   priority sorting        =========================================== */


.priorityValue {
    width: 108px;
    padding: 8px 12px;
    font-size: 20px;
    border-radius: 6px;
    outline: 0;
    border: 1px solid #cdc6c6;
}


.sort_priority {
    font-size: 18px;
    padding: 5px 12px;
    border-radius: 4px;
    outline: 0;
    border: 1px slod gray;
    border: 1px solid #cdcccc;
    cursor: pointer;
}


.priorityValue.highh {
    background-color: red;
    color: white;
}


.priorityValue.midd {
    background-color: orange;
    color: white;
}



.priorityValue.loww {
    background-color: green;
    color: white;
}




/*  ============================  Sort By Date ===================================*/


.sort_by_date {
    font-size: 18px;
    padding: 5px 12px;
    border-radius: 4px;
    outline: 0;
    border: 1px solid #cdcccc;
    outline: 0;
    cursor: pointer;
}

.sort_by_date option {
    cursor: pointer;

}




/*
============= Search task ==============
*/


.search_task {
    font-size: 17px;
    padding: 5px 12px;
    border-radius: 4px;
    outline: 0;
    border: 1px solid rgb(209, 208, 208);
    flex: 1;
}








/*

============ ========================================================
                                         
                                         Head Line
 
   ==============================================================

*/


.headline img {
    width: 25px;
    height: 25px;
}

.headline .delete_image {
    width: 40px;
    height: 40px;
}


.headline {
    display: flex;
    align-items: center;
    gap: 10px;
}

.headline .task {
    flex: 1;
    padding: 8px 12px;
    font-size: 20px;
    border-radius: 6px;
    outline: 0;
    border: 1px solid #cdc6c6;
    font-weight: bold;
    /* align-items: center; */
    /* justify-content: center; */
    text-align: center;
}

.headline .last_date {
    width: 120px;
    padding: 8px 12px;
    font-size: 20px;
    border-radius: 6px;
    outline: 0;
    border: 1px solid #cdc6c6;
    font-weight: bold;
}


.headline .priority {
    width: 108px;
    padding: 8px 12px;
    font-size: 20px;
    border-radius: 6px;
    outline: 0;
    border: 1px solid #cdc6c6;
    font-weight: bold;
}


.headline .delete_image {
    width: 40px;
    padding: 8px 12px;
    font-size: 20px;
    border-radius: 6px;
    outline: 0;
    border: 1px solid #cdc6c6;
    font-weight: bold;
    DISPLAY: FLEX;
    ALIGN-ITEMS: center;
    justify-content: center;
}

.headline {
    margin-bottom: 30px;
}









/*
================ ====================== List container row box  ==================================
*/

.row .list_container li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.row .list_container li .task {
    flex: 1;
    padding: 8px 12px;
    font-size: 20px;
    border-radius: 6px;
    outline: 0;
    border: 1px solid #cdc6c6;
}



.row .list_container .date {
    width: 120px;
    padding: 11px 12px;
    font-size: small;
    border-radius: 6px;
    outline: 0;
    border: 1px solid #cdc6c6;
}



.row .list_container .priority {
    width: 108px;




    padding: 8px 12px;
    font-size: 20px;
    border-radius: 6px;
    outline: 0;
    border: 1px solid #bbb1b1;

}






.row .list_container .delete {
    width: 40px;
    padding: 5px 12px;
    font-size: 20px;
    border-radius: 6px;
    outline: 0;
    border: 1px solid #cdc6c6;
    font-weight: bold;
    DISPLAY: FLEX;
    ALIGN-ITEMS: center;
    justify-content: center;
    cursor: pointer;
}



.row .list_container .delete:hover {
    background-color: rgb(177, 175, 175);
}


/*  adding checked button before each row */



.row .list_container li {
    position: relative;
    padding-left: 33px;
}


.row .list_container li::before {
    position: absolute;
    content: '';
    width: 27px;
    height: 27px;
    top: 8px;
    left: 0px;
    background-image: url('images/unchecked.png');
    /* color: red; */
    background-size: cover;
    /* background-color: green; */
    /* background: center; */
    border-radius: 50%;







}


.row .list_container li.checked::before {
    background-image: url('images/checked.png');
}

.row .list_container li.checked {
    position: relative;

}



.row .list_container li.checked::after {
    position: absolute;
    content: '';
    height: 1px;
    background-color: black;

    top: 50%;
    left: 30px;
    right: 0px;


}


.row {
    margin-bottom: 30px;
}











/*        ===============================================
   
                            no taks message show


=================================================*/



.no_task {
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-style: italic; */
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 20px;
}
















/*   
============================================ delete button =============================================
*/


.delete_all {
    display: block;
    margin-left: auto;
    font-size: 20px;
    padding: 8px 15px;
    border-radius: 5px;
    outline: 0;
    border: 1px solid #afacac;

}



.delete_all:hover {
    background-color: rgb(201, 199, 199);
}





/*
=========================================== Developer ===================================
*/

.developer {
    /* margin-left: auto; */
    display: flex;
    gap: 20px;
    /* margin-bottom: 0px; */
    /* margin-left: 0px; */
    /* display: block; */
    margin-left: auto;
}


